<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
    <title>AbhiTyping</title>
</head>
<body>
    <div class="container1">
       <div class="main">
        <h1 class="user">Hi <span>{{name}}</span></h1>
        <div class="result1">
        </div>
        <div class="content">
            <div class="mainContent">
                <input type="text" id="input-field" >
                <p class="words"></p>
            </div>
            <div class="result">
                <ul>
                    <li>
                        <p class="time">Time: <span>60</span>s</p>
                    </li>
                    <li>
                        <p class="mistake">Mistake: <span>0</span></p>
                    </li>
                    <li>
                        <p class="wpm">WPM: <span>0</span></p>
                    </li>
                    <li>
                        <p class="cpm">CPM: <span>0</span></p>
                    </li>
                </ul>
                <button class="button">Try Again</button>
            </div>
        </div>  
       </div>    
    </div>
    
    <script src="{{url_for('static', filename='JS/paragraphsList.js')}}"></script>
    <script src="{{url_for('static', filename='JS/script.js')}}"></script>
</body>
</html>